:root {
  --brand-color: #2196f3;
  --bg-main-color: #ffffff;
  --bg-add-color: #2f303a;
  --color-hd: #212121;
  --color-add-txt: #757575;
  --color-add-hd: #ffffff;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--color-hd);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--brand-color);
}

.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-hd);

  display: block;
  padding: 32px 0;
}

.list-nav-item:not(:last-child) {
  margin-right: 50px;
}

.link-contact.tel {
  margin-left: 50px;
}

.list.contact {
  margin-left: auto;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--brand-color);
  color: var(--color-add-hd);
}

.button-filter:active {
  color: var(--bg-main-color);
}

.button-filter {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-hd);
}

.link-contact {
  color: var(--color-add-txt);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-add-txt);
  text-decoration: none;
}

.link-contact:hover,
.link-contact:focus {
  color: var(--brand-color);
}

.link-map {
  color: var(--color-add-hd);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer {
  background-color: var(--bg-add-color);
}

.footer-address {
  font-style: normal;
}

.logo-footer,
.logo-header {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-header {
  margin-right: 90px;
}

.logo-start {
  color: var(--brand-color);
}

.logo-top {
  color: #000000;
}

.logo-bottom {
  color: var(--bg-main-color);
}

.header {
  background-color: var(--bg-main-color);
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.hero {
  background-color: var(--bg-add-color);
  padding: 200px 0;
}

.index-hero {
  color: var(--color-add-hd);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-top: 0;
  padding: 0;
}

.button-hero {
  background-color: var(--brand-color);
  color: var(--color-add-hd);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero > .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .about {
  background-color: var(--bg-main-color);
} */

.about-heading-specifity {
  color: var(--color-hd);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.about-heading {
  color: var(--color-hd);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-text {
  color: var(--color-add-txt);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team {
  background-color: #f5f4fa;
}

.team-heading {
  color: var(--color-hd);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.team-heading-member {
  color: var(--color-hd);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-text {
  color: var(--color-add-txt);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.list {
  display: flex;
  list-style: none;
}

.list-specifity-item:not(:last-child),
.list-about-item:not(:last-child),
.list-team-item:not(:last-child) {
  margin-right: 30px;
}

.portfolio {
  background-color: var(--bg-main-color);
}

.portfolio-heading {
  color: var(--color-hd);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-text {
  color: var(--color-add-txt);
  font-size: 16px;
  line-height: 1.888;
  letter-spacing: 0.03em;
}

.list-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-flow: column wrap;
}

.list.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 50px;
}

.list-button-item:not(:last-child) {
  margin-right: 8px;
}

/* .list-portfolio-item {
  flex-basis: 33.333333%;
} */

.list.samples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* .footer > .container > .logo {
  padding-top: 60px;
} */

/* .logo-footer {
  padding-top: 60px;
} */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.list-item-footer:first-child {
  margin-top: 20px;
}

.list-item-footer:not(:last-child) {
  margin-bottom: 9px;
}

.hidden {
  display: none;
  visibility: hidden;
}

.list-about-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-hd);

  margin-bottom: 50px;
}

.about {
  padding-top: 0;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.portfolio-card {
  padding: 20px 24px;
  border: solid #eeeeee;
  border-width: 0 1px 1px 1px;
}
